html,
body {
    background: #f5f5f5;
}

.App {
    text-align: center;
}

.height-animate {
    transform: scaleY(0);
    transition: 0.2s ease;
}

.height-animate.show {
    transform: scaleY(1);
}

.navbar-vertical .navbar-nav>.nav-item .inner-nav .nav-link {
    color: #344767;
    background-color: #fff;
    position: relative;
    background-color: transparent;
    box-shadow: none;
}

.navbar-vertical .navbar-nav>.nav-item .inner-nav .nav-link:before {
    content: "";
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translate(0, -50%);
    height: 5px;
    width: 5px;
    border-radius: 1.5rem;
    background: rgba(58, 65, 111, 0.5);
}

.navbar-vertical .navbar-nav .nav-item .nav-link .icon i {
    color: #ccc;
}

.navbar-vertical .navbar-nav .nav-item .nav-link.active .icon i {
    color: white;
}

.btn-group .btn {
    box-shadow: none;
    margin-bottom: 0px;
}

.btn-group {
    box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11), 0 2px 4px -1px rgba(0, 0, 0, 0.07);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.navbar-vertical.navbar-expand-xs {
    overflow: hidden;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    overflow: hidden;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link span {
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navbar-vertical.navbar-expand-xs.collapsed .navbar-nav .nav-link span {
    opacity: 0;
}

.swal2-container .swal2-close:focus {
    box-shadow: none;
}


.swal2-container .swal2-html-container {
    overflow-x: hidden;
}